APP_ENV=dev
APP_HOST=0.0.0.0
APP_PORT=8000
APP_ORIGIN=http://localhost:3000

JWT_SECRET=xxx
JWT_ALG=HS256
JWT_EXPIRES_MIN=120

SUPABASE_URL=xxx
SUPABASE_SERVICE_ROLE_KEY=xxx

PAYMENTS_BUCKET=payments
BANK_NAME=xxx
BANK_ACCOUNT=xxx
BANK_HOLDER=xxx
GROUP_LINK=xxx
